.header{
    background-color: black;
    height: 100px;
    text-align: center;
    color: whitesmoke;
}

body{
    background-image: url(../Imagenes/fondo404.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
}

#logo{
    height: 100px;
    cursor: pointer;
}

#banner{
    size: inherit;
    text-align: center;
    background-color: #1f1f1f;
}

.contenido{
    margin-top: 20px;
    text-align: center;
}

.producto{
    text-align: center;
    height: 150px;
    margin-right: 50px;
    opacity: 100%;
}

.producto:hover{
    height: 200px;
    cursor: pointer;
}

.boton{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: white;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}
